* {
  box-sizing: border-box;
}
h1{
    text-align: center;
}
h3{
    margin: 0;
    padding: 10px;
    float: right;
    border: 1px solid black;
}
.a{
    color: coral;
    background-color: #000;
}
.b{
    color: gray;
    background-color: #efe;
}
.c{
    color: black;
    background-color: lightblue;
}
.box{
    float: left;
    margin: 5px;
    padding: 0;
    width: 32%;
    border: 1px solid black;
}
p{
    margin: 0;
    padding: 40px;
    background-color: darkslategray;
    color: aliceblue;
}
.cont:after {
    content: "";
    clear: both;
    display: table;
}
    
@media screen and (max-width: 992px) {
    .box {
        width: 48.5%;
    }
    #lkj{
        width: 98.4%;
        margin-right: 5px;
    }
}
@media screen and (max-width: 767px) {
    .box {
        width: 100%;
    }
}